/* General */
$fontSize: 14px;
$bodyBgColor: #fff;
$textColor: #333;
$textSecondaryColor: #707070;
$borderRadius: 3px;
$dividerColor: #dee2e6;
$transitionDuration: 0.2s;
$maskBgColor: #424242;
$focusShadowColor: #8dcdff;
